<a href="https://colab.research.google.com/github/lmlouis/IntroductionIA/blob/main/checkpoint_skillspython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

Ecrivez un programme qui trouvera tous les nombres qui sont divisibles par 7 mais qui ne sont pas un multiple de 5, entre 2000 et 3200 (les deux inclus). Les nombres obtenus doivent être imprimés dans une liste.

Hint: Consider using the range(#begin, #end) method.

In [ ]:
# n divisibles par 7 <=> n mod 7 = 0 et n non multiple de 5 <=> n != 5k ( n mod 5 != 0)
# ajouter un élément n dans une liste list.append(n)
# condition range(#begin, #end) avec 2000 <= n <= 3000

# methode 1 :  simple boucle while 
"""
list_entiers = []
for n in range(2000, 3001):
  if( n%7 == 0 and n%5 != 0):
    list_entiers.append(n)
print(list_entiers)
"""
# methode 2 : liste comprehension 
list_entiers = [n for n in range(2000, 3001) if(n%7 == 0 and n%5 != 0)]

list_entiers

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996]

# Question 2 

 Ecrivez un programme capable de calculer la factorielle d'un nombre donné. (La factorielle de n est le produit de tous les entiers positifs inférieurs ou égaux à n). Par exemple : Pour la factorielle(5)= 5 x 4 x 3 x 2 x 1 le résultat est 120 (c'est-à-dire la factorielle (0)=1).

In [ ]:
"""
fact(0)=1 
fact(n)=nx(n-1)x...x2x1
"""

def fact(n):
  a = 1
  while(n != 0):
      a = a * n
      n = n -1
  return a
  
fact(5)

120

# Question 3 

Avec un nombre entier donné n, écrivez un programme pour générer un dictionnaire qui contient (i, i*i) tel que est un nombre entier entre 1 et n (les deux inclus). Ensuite, le programme doit imprimer le dictionnaire. Supposons que l'entrée suivante soit fournie au programme : 8 Alors, la sortie devrait être : {1 : 1, 2 : 4, 3 : 9, 4 : 16, 5 : 25, 6 : 36, 7 : 49, 8 : 64}

In [ ]:
# dict cle/valeur = i / i*i
# pour i : i à n 
#  n le nombre d'itérations 
#dict_n = {i : i*i pour i compris entre 1 et n sens large}

# metode 1  :  simple boucle for
"""
def carrer2(n):
  dict_n = {}
  for i in range (1, n+1):
    dict_n[i] = i*i
  print(dict_n)
carrer2(8)  
"""
# methode 2  :  dictionnaire comprehension 
def carrer2(n):
  dict_n = {k+1:v for k, v in enumerate([ i*i for i in range(1, n+1)])} 
  print(dict_n)

carrer2(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4 

Étant donné une chaîne de caractères non vide et un entier n, renvoyer une nouvelle chaîne de caractères où le caractère à l'indice n a été supprimé. La valeur de n sera un indice valide d'un caractère dans la chaîne originale (c'est-à-dire que n sera dans la plage 0..len(str)-1 inclus). 

missing_char('kitten', 1) → 'ktten' par exemple ici nous supprimons "i" qui est situé dans l'indice 1.

missing_char('kitten', 0) → 'itten' par exemple ici on supprime "k" qui se trouve à l'indice 0

missing_char('kitten', 4) → 'kittn' ici nous supprimons "e" qui se trouve dans l'inde

In [ ]:
def missing_char(chaine, indexe):
  new_chain =""
  for i in range(len(chaine)):
    if(i != indexe):
      new_chain += chaine[i]
  return new_chain
  
missing_char('kitten', 4)

'kittn'

# Question 5 

Écrivez un programme NumPy pour convertir un tableau NumPy en une structure de liste Python.

Sortie attendue : 

Eléments de array original : [[0 1] [2 3] [4 5]] 

array en liste : [[0, 1], [2, 3], [4, 5]]

In [ ]:
import numpy as np

tab = np.array([[0,1],[2,3],[4,5]])

# methode 1 : simple boucle for
"""
l =[]
for i in range(tab_np.ndim + 1):
  l.append(list(tab_np[i])) 
print(l)
"""
# methode 2 : fonction 

def arraytolist(tab_np):
  return [list(tab_np[i]) for i in range(tab_np.ndim + 1)]


# methode 3 :  methode tolist()

def arraytolist2(tab_np):
  return tab_np.tolist()

arraytolist2(tab)

[[0, 1], [2, 3], [4, 5]]

# Question 6

Ecrivez un programme NumPy pour calculer la matrice de covariance de deux tableaux donnés. 

Tableau original1 : [0 1 2] 

Tableau original2 : [2 1 0] 

Matrice de covariance desdits tableaux : [[ 1. -1.] [-1. 1.]]
 

Astuce : Nous pouvons utiliser la fonction np.cov() pour calculer la covariance entre ces deux tableaux.

In [ ]:
import numpy as np
tab1 = np.array([0,1,2])
tab2 = np.array([2,1,0])
cov = np.cov(tab1, tab2)
cov

array([[ 1., -1.],
       [-1.,  1.]])

# Question 7

Question : Ecrivez un programme qui calcule et imprime la valeur selon la formule donnée : Q= Racine carrée de [(2 * C * D)/H] 

Les valeurs fixes de C et H sont les suivantes : C est 50. H est de 30. 

D est la variable dont les valeurs doivent être entrées dans votre programme dans une séquence séparée par des virgules. (Cela signifie que D contient plus d'une valeur)

Exemple : Supposons que la séquence d'entrée suivante, séparée par des virgules, soit donnée au programme : 100,150,180 La sortie du programme devrait être 18,22,24. 

Pour mieux expliquer cela, nous allons obtenir un résultat pour chaque valeur de D :  Q1= racine carrée de [(2 * C * 100)/H] =18, Q2= racine carrée de [(2 * C * 150)/H] = 22 et Q3 = racine carrée de [(2 * C * 180)/H] = 24.

Conseil : si le résultat reçu est sous forme décimale, il doit être arrondi à la valeur la plus proche. Par exemple, si le résultat reçu est 26.0, il doit être imprimé sous la forme 26. Si des données d'entrée sont fournies à la question, il faut supposer qu'il s'agit d'une entrée de console.

In [ ]:
from math import sqrt
def Calcule2Q(D):
  C = 50
  H = 30
  return sqrt((2*C*D)/H)

D = list()

reponse =""
while(reponse != "n"):
  D.append(float(input("entrer valeurs de D : ")))
  reponse = input("saisir une autre valeur [y/n] ? : ")

for i in range(len(D)):
  print( "Q",i+1," = ", round(Calcule2Q(D[i])) )

entrer valeurs de D : 100
saisir une autre valeur [y/n] ? : y
entrer valeurs de D : 150
saisir une autre valeur [y/n] ? : y
entrer valeurs de D : 180
saisir une autre valeur [y/n] ? : n
Q 1  =  18
Q 2  =  22
Q 3  =  24